.feed {
    &--item {
        position: relative;
        padding-right: 4rem;

        &_edit {
            position: absolute;
            top: 1rem;
            right: 3rem;
            cursor: pointer;
        }
        
        &_delete {
            position: absolute;
            top: 1rem;
            right: 1rem;
            cursor: pointer;
        }
    }
}



