/* black */
$black: rgb(23, 27, 40);

/* gray */
$gray: rgba(23, 27, 39, 0.4);
$light-gray: rgb(248, 248, 249);

/* green */
$green: rgb(13, 190, 0);
$green-hover: rgb(34, 179, 24);
$light-green: rgb(230, 248, 229);

/* blue */
$blue: rgb(80, 133, 250);
$light-blue: rgb(238, 243, 255);

/* card */
$card-text-1: rgb(216, 228, 255);
$card-text-2: rgb(229, 255, 227);
