html,
body {
  width: 100%;
  height: 100%;
}

ul {
  padding-left: 0;
  list-style: none;
}

button,
input,
textarea {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}